/* Custom Properties < 50em */
:root {
  --clr-primary-100: hsl(243, 87%, 12%);
  --clr-primary-200: hsl(238, 22%, 44%);

  --clr-accent-100: hsl(224, 93%, 58%);
  --clr-accent-200: hsl(170, 45%, 43%);

  --clr-neutral-100: hsl(240, 75%, 98%);
  --clr-neutral-200: hsl(0, 0%, 75%);

  --ff-primary-100: "Raleway", sans-serif;
  --ff-primary-200: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-x-small: 0.75rem;
  --fs-small: 0.875rem;
  --fs-medium: 1rem;
  --fs-large: 1.125rem;
  --fs-x-large: 1.5rem;
}

/* Custom Properties > 50em */
@media (min-width: 50em) {
  :root {
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility Classes */
h1 {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-200);
  font-size: var(--fs-x-large);
  font-weight: var(--fw-bold);
}

h2 {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

h3 {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-bold);
  text-align: left;
}

p {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-200);
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  align-items: center;
}

nav img {
  width: 80px;
  height: auto;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-bold);
}

nav li:not(:last-child) {
  padding-right: 2em;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 0 1em;
}

main img {
  margin-top: 4.5em;
  width: 304px;
  height: auto;
}

main h1,
section h2 {
  margin-top: 2em;
  text-align: center;
}

main p,
section p {
  margin-top: 1.5em;
  text-align: center;
}

main button,
.earlyaccess button {
  background-color: var(--clr-accent-100);
  color: var(--clr-neutral-100);
  width: calc(375px - 2em);
  height: 35px;
  font-family: var(--ff-primary-100);
  font-size: var(--fs-x-medium);
  font-weight: var(--fw-regular);
  border: none;
  border-radius: 3px;
  margin-top: 1.5em;
}

/* seperator */
.seperator {
  margin-top: 5.5em;
  display: block;
}

/* section - productive */
section {
  background-color: var(--clr-neutral-100);
}

section.productive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productive img {
  margin-top: 1.5em;
  width: 304px;
  height: auto;
}

.productive > h2 {
  margin-top: 5.5em;
}

.productive__card {
  width: 300px;
  background-color: white;
  padding: 1em;
  margin-top: 2.5em;
}

.productive__card h3,
.productive__card p,
.productive__card img {
  margin: 0;
  padding: 0;
}

.productive__card > p {
  text-align: left;
  font-size: var(--fs-small);
}

.productive__card--body {
  padding: 0;
  margin: 0;
}

.productive__card-container {
  display: flex;
}

.productive__card-wrapper p {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-regular);
  text-align: left;
}

.productive__card img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.productive__card-wrapper {
  display: flex;
  flex-direction: column;
}

/* section - earlyacess */
section.earlyaccess {
  background-color: var(--clr-primary-200);
  padding: 0 1em 0 1em;
}

.earlyaccess h2 {
  margin: 0;
  padding-top: 3em;
}

.earlyaccess h2,
.earlyaccess p {
  color: var(--clr-neutral-100);
}

.earlyaccess button {
  margin-bottom: 3em;
}

/* footer */
footer {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-200);
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}
