:root {
  --clr-primary-100: hsl(243, 87%, 12%);
  --clr-primary-200: hsl(238, 22%, 44%);

  --clr-accent-100: hsl(224, 93%, 58%);
  --clr-accent-200: hsl(170, 45%, 43%);

  --clr-neutral-100: hsl(240, 75%, 98%);
  --clr-neutral-200: hsl(0, 0%, 75%);

  --ff-primary-100: "Raleway", sans-serif;
  --ff-primary-200: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-small: ;
  --fs-medium: ;
  --fs-large: ;
  --fs-x-large: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
